DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=changeme
DB_NAME=authdb
DB_SSLMODE=disable
JWT_SECRET=changeme
JWT_ACCESS_EXPIRE_MINUTES=15
JWT_REFRESH_EXPIRE_DAYS=7
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_SENDER=no-reply@example.com
APP_PORT=8000
MULTI_TENANT_MODE=row
